/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
node_modules
.env
config/database.yml
app/assets/javascripts/application.js
spec/javascripts/src/*.js
spec/javascripts/src/components/ListInfo.js
spec/javascripts/src/components/OfferRow.js
spec/javascripts/src/components/Offers.js
spec/javascripts/src/components/OffersList.js
spec/javascripts/src/components/Sidebar.js