.btn-group-vertical{ data: { ng_unless: 'userLocation.isLocated' } }
  %button.btn.btn-primary{ type: "button", data: { ng_click_async: 'userLocation.locateUser()' } } Orte mich!
.max-distance{ data: { ng_if: 'userLocation.isLocated' } }
  %h5.text-center Maximale Entfernung
  .btn-group-vertical
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "15" } }
      15 km
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "30" } }
      30 km
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "80" } }
      80 km
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "null" } }
      egal
.sort-order{ data: { ng_if: 'userLocation.isLocated' } }
  %h5.text-center Sortierung
  .btn-group-vertical
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'name'" } }
      Alphabetisch
    %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'distanceToUser'" } }
      Entfernung
.kinds
  %h5.text-center Arten
  .btn-group-vertical
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindFree' } } Kostenlos
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindHalfPrice' } } Halber Preis
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindSpecial' } } Special
.categories{ data: { ng_if: 'offerList.storage.showKindFree' } }
  %h5.text-center Kategorien
  .btn-group-vertical
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryAction' } } Erlebnis, Spaß und Action
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryShips' } } Schifffahrt und Bäder
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryIndustry' } } Erlebnis Industriekultur
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryMuseum' } } Schätze und Museen
.options
  %h5.text-center Anzeigen
  .btn-group-vertical
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showAlreadyVisited' } } Besuchte
    %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showNotVisited' } } Unbesuchte
.reset
  %button.btn.btn-small.btn-danger{ data: { ng_click: 'reset()' } } Reset