.container#offer-index{ data: { ng_controller: "OffersController", ng_init: "offerList.loadJson(#{@offers}).offers" } }
  .row
    .col-lg-2.map-sidebar
      .btn-group-vertical
        %button.btn.btn-primary{ type: "button", data: { ng_click_async: 'userLocation.locateUser()' } } Orte mich!
      .max-distance
        %h5.text-center Maximale Entfernung
        .btn-group-vertical{ ng_click: 'offerList.refreshShownOffers()'}
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "15" } }
            15 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "30" } }
            30 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "80" } }
            80 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "null" } }
            egal
      .sort-order
        %h5.text-center Sortierung
        .btn-group-vertical
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'name'" } }
            Alphabetisch
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'distanceToUser'" } }
            Entfernung
      .categories
        %h5.text-center Kategorien
        .btn-group-vertical{ ng_click: 'offerList.refreshShownOffers()'}
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryAction' } } Erlebnis, Spaß und Action
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryShips' } } Schifffahrt und Bäder
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryIndustry' } } Erlebnis Industriekultur
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryMuseum' } } Schätze und Museen
      .kinds
        %h5.text-center Arten
        .btn-group-vertical{ ng_click: 'offerList.refreshShownOffers()'}
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindFree' } } Kostenlos
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindHalfPrice' } } Halber Preis
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindSpecial' } } Special
      .options
        %h5.text-center Anzeigen
        .btn-group-vertical{ ng_click: 'offerList.refreshShownOffers()'}
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showAlreadyVisited' } } Besuchte
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showNotVisited' } } Unbesuchte
    .col-lg-10
      .text-center.lead {{offerList.shownOffers.length}} von {{offerList.offers.length}} Angeboten werden angezeigt
      %google-map{ center: "map.center", zoom: "map.zoom" }
        %markers{ models: "offerList.shownOffers", coords: "'coords'", icon: "'icon'" }
      %hr
      %table.table.table-striped
        %thead
          %tr
            %td Name
            %td Kategory
            %td Bewertung
            %td Entfernung
            %td
        %tbody
          %tr{ data: { ng_repeat: "offer in offerList.shownOffers | orderBy:offerList.sortOrder" } }
            %td
              %span{ data: { ng_if: 'offer.kind == "half-price"', tooltip: 'Halber Preis' }}
                %i.fa.fa-eur
              %span{ data: { ng_if: 'offer.kind == "special"', tooltip: 'Spezial' }}
                %i.fa.fa-eur
                %i.fa.fa-eur
              %a{ ng_click: 'offer.openInfo()'}
                {{offer.name}}
            %td
              {{offer.category}}
            %td
              %rating{ data: { ng_model: "offer.rating", readonly: 'true', ng_if: "offer.rating" } }
            %td
              %span{ data: { ng_show: "offer.distanceToUser"}}
                {{offer.distanceToUser / 1000 | number:2}} km
            %td
              %a.js-mark-as-vistied{ data: { ng_click: "offer.markAsVisited(); offerList.refreshShownOffers()", ng_if: '!offer.visited' } }
                %i.fa.fa-check-square-o{ tooltip: 'Schon besucht' }
              %a.js-mark-as-not-vistied{ data: { ng_click: "offer.markAsNotVisited(); offerList.refreshShownOffers()", ng_if: 'offer.visited' } }
                %i.fa.fa-check-square{ tooltip: 'Doch nicht besucht' }
