.container#offer-index{ data: { ng_controller: "OffersController", ng_init: "offerList.loadJson(#{@offers}).offers" } }
  .row
    %p.well
      Hier findest du alle Angebote der Ruhr.TopCard 2014 in einer filterbaren Karte.
      Alle Filtereinstellungen werden in deinem Browser gespeichert.
    .col-lg-2.map-sidebar
      .btn-group-vertical
        %button.btn.btn-primary{ type: "button", data: { ng_click_async: 'userLocation.locateUser()' } } Orte mich!
      .max-distance
        %h5.text-center Maximale Entfernung
        .btn-group-vertical
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "15" } }
            15 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "30" } }
            30 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "80" } }
            80 km
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.maxDistance", btn_radio: "null" } }
            egal
      .sort-order
        %h5.text-center Sortierung
        .btn-group-vertical
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'name'" } }
            Alphabetisch
          %label.btn.btn-default{ data: { ng_model: "offerList.storage.sortOrder", btn_radio: "'distanceToUser'" } }
            Entfernung
      .categories
        %h5.text-center Kategorien
        .btn-group-vertical
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryAction' } } Erlebnis, Spaß und Action
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryShips' } } Schifffahrt und Bäder
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryIndustry' } } Erlebnis Industriekultur
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showCategoryMuseum' } } Schätze und Museen
      .kinds
        %h5.text-center Arten
        .btn-group-vertical
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindFree' } } Kostenlos
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindHalfPrice' } } Halber Preis
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showKindSpecial' } } Special
      .options
        %h5.text-center Anzeigen
        .btn-group-vertical
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showAlreadyVisited' } } Besuchte
          %label.btn.btn-default{ data: { btn_checkbox: true, ng_model: 'offerList.storage.showNotVisited' } } Unbesuchte
      .reset
        %button.btn.btn-small.btn-danger{ data: { ng_click: 'reset()' } } Reset
    .col-lg-10
      .text-center.lead {{offerList.shownOffers().length}} von {{offerList.offers.length}} Angeboten werden angezeigt
      %leaflet{ center: "map.center", markers: "offerList.markers", defaults: "map.defaults", layers: "map.layers", width: 'auto', height: 480  }
      %hr
      %table.table.table-striped
        %thead
          %tr
            %td Name
            %td Kategorie
            %td Bewertung
            %td Entfernung
            %td
        %tbody
          %tr{ offer_row: true, ng_repeat: "offer in offerList.shownOffers() | orderBy:offerList.sortOrder" }
