#offer-index{ data: { ng_controller: "MapController" } }
  %google-map{ center: "map.center", zoom: "map.zoom" }
    %markers{ models: "shownOffers", coords: "'coords'" }
  %hr
  .pull-right
    %h5.text-center Sortierung
    .btn-group
      %label.btn.btn-default{ data: { ng_model: "sorting", btn_radio: "'name'"} }
        Alphabetisch
      %label.btn.btn-default{ data: { ng_model: "sorting", btn_radio: "'distanceToUser'"} }
        Entfernung
  .pull-left
    %h5.text-center Maximale Entfernung
    .btn-group{ ng_click: 'refreshShownOffers()'}
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "15"} }
        15 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "30"} }
        30 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "80"} }
        80 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "null"} }
        egal
  .text-center.lead {{shownOffers.length}} von {{offers.length}} Angeboten werden angezeigt
  %table.table.table-striped
    %thead
      %tr
        %td Name
        %td Entfernung
    %tbody
      %tr{ data: { ng_repeat: 'offer in shownOffers | orderBy:sorting | limitTo: 20' } }
        %td
          %a{ ng_click: 'openInfo(offer.id)'}
            {{offer.name}}
        %td
          %span{ data: { ng_show: "offer.distanceToUser"}}
            {{offer.distanceToUser / 1000 | number:2}} km
