.container#offer-index
  %p.well
    Hier findest du alle Angebote der Ruhr.TopCard 2014 in einer filterbaren Karte.
    Alle Filtereinstellungen werden in deinem Browser gespeichert.
  #offer-list{ data: { offers: @offers } }
