#offer-index{ data: { ng_controller: "MapController" } }
  %google-map{ center: "map.center", zoom: "map.zoom" }
    %markers{ models: "offers", coords: "'coords'" }
  %br/
  .pull-right
    .btn-group
      %label.btn.btn-default{ data: { ng_model: "sorting", btn_radio: "'name'"} }
        Alphabetisch
      %label.btn.btn-default{ data: { ng_model: "sorting", btn_radio: "'distanceToUser'"} }
        Entfernung
  .pull-left
    .btn-group
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "10"} }
        10 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "20"} }
        20 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "50"} }
        50 km
      %label.btn.btn-default{ data: { ng_model: "distance", btn_radio: "200"} }
        200 km
  %table.table
    %thead
      %tr
        %td
        %td Name
        %td Entfernung
    %tbody
      %tr{ data: { ng_repeat: 'offer in offers | orderBy:sorting | limitTo: 20 | filter:distanceFilter' } }
        %td
          %a.description-link{ data: { ng_click: "offer.toggleDescription()" } }
            %i.fa.fa-caret-right
        %td
          {{offer.name}}
          .description{ data: { ng_if: "offer.show_description" } }
            %hr
            {{offer.description}}
        %td
          %span{ data: { ng_show: "offer.distanceToUser"}}
            {{offer.distanceToUser / 1000 | number:2}} km
