%td
  %span{ data: { ng_if: 'offer.kind == "half-price"', tooltip: 'Halber Preis' }}
    %i.fa.fa-eur
  %span{ data: { ng_if: 'offer.kind == "special"', tooltip: 'Spezial' }}
    %i.fa.fa-eur
    %i.fa.fa-eur
  %a{ ng_click: 'openInfo()'}
    {{offer.name}}
%td
  {{offer.category}}
%td
  %rating{ data: { ng_model: "offer.rating", readonly: 'true', ng_if: "offer.rating" } }
%td
  %span{ data: { ng_show: "offer.distanceToUser"}}
    {{offer.distanceToUser / 1000 | number:2}} km
%td
  %a.js-mark-as-vistied{ data: { ng_click: "offer.markAsVisited()", ng_if: '!offer.visited' } }
    %i.fa.fa-check-square-o{ tooltip: 'Schon besucht' }
  %a.js-mark-as-not-vistied{ data: { ng_click: "offer.markAsNotVisited()", ng_if: 'offer.visited' } }
    %i.fa.fa-check-square{ tooltip: 'Doch nicht besucht' }
